@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$brown: #59443F;
$light-brown: #C3B9B5;
$dark: #080606;
$white: #FFFFFF;
$orange: #FFC59E;

body {
  font-family: 'Open Sans', sans-serif;
}

.page {
  max-width: 1350px;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;

  &__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.section {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 85px;
  padding-bottom: 113px;
  box-sizing: border-box;
  gap: 70px;

  @media screen and (max-width: 1279px) {
    & {
      gap: 30px;
    }
  }

  @media screen and (max-width: 1024px) {
    & {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__logo {
    background-image: url(../images/logo-header.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 79px;
    height: 62px;
    flex-shrink: 0;
  }

  @media screen and (max-width: 767px) {
    &__logo {
      width: 50px;
      height: 40px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
    flex-wrap: wrap;
    gap: 70px;
  }

  @media screen and (max-width: 1279px) {
    &__list {
      gap: 30px;
      justify-content: center;
    }
  }

  @media screen and (max-width: 767px) {
    &__list {
      flex-direction: column;
      gap: 10px;
      border-radius: 10px;
      padding: 10px;
      background-color: $white;
    }
  }

  @media screen and (max-width: 767px) {
    &__nav {
      display: none;
      position: absolute;
      top: 55px;
      right: 0;
      z-index: 10;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  
  &__nav_active {
    display: flex;
    animation: fadeIn;
    animation-duration: 1s;
  }

  &__link {
    font-size: 20px;
    font-weight: 700;
    color: $light-brown;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;

    &:hover {
      color: $orange;
    }
  }

  @media screen and (max-width: 767px) {
    &__link {
      font-size: 15px;
    }
  }

  &__bth {
    font-size: 20px;
    font-weight: 700;
    color: $orange;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 19px;
    cursor: pointer;

    &::before {
      content: '';
      background-image: url(../images/geo.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 29px;
      display: block;
    }
  }

  @media screen and (max-width: 767px) {
    &__bth {
      font-size: 15px;
      gap: 10px;
    }
  }

  &__menu {
    display: none;
    background: transparent;
    background-image: url(../images/menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    transition: opacity .5s linear;
    display: none;
    &_active{
      background-image: url(../images/close.png)
    }
  }


  @media screen and (max-width: 767px) {
    &__menu {
      display: block;
    }
  }
}

.main {
  min-height: 827px;
  padding-top: 53px;
  background-image: url(../images/dog.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  position: relative;
  z-index: 2;

  @media screen and (max-width: 767px) {
    & {
      display: flex;
      flex-direction: column;
      min-height: 400px;
    }
  }

  @media screen and (max-width: 560px) {
    & {
      align-items: center;
      background-position: center;
    }
  }

  @media screen and (max-width: 1023px) {
    &::before {
      content: '';
      background-color: #FFFFFF;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &__title {
    font-size: 80px;
    font-weight: 400;
    line-height: 1.4;
    color: $dark;
    margin-top: 0;
    margin-bottom: 71px;
    max-width: 645px;
  }

  @media screen and (max-width: 1024px) {
    &__title {
      font-size: 60px;
    }
  }

  @media screen and (max-width: 767px) {
    &__title {
      font-size: 40px;
      text-align: center;
      max-width: 300px;
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: $white;
    background-color: $orange;
    box-shadow: 0px 4px 20px $orange;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 76px;
    border-radius: 33.5px;
    align-self: flex-start;

    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 560px) {
    &__link {
      align-self: center;
    }
  }

  &__social {
    margin-top: 216px;
    display: flex;
  }

  @media screen and (max-width: 767px) {
    &__social {
      margin-top: 100px;
    }
  }

  @media screen and (max-width: 560px) {
    &__social {
      margin-top: 50px;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  gap: 50px;

  &__svg {
    fill: $light-brown;
    transition: fill .4s linear;

    &_white {
      fill: $white;
    }

    &:hover {
      fill: $orange;
    }
  }

  @media screen and (max-width: 767px) {
    & {
      gap: 30px;
    }
  }

}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  padding-top: 150px;
  padding-bottom: 157px;

  @media screen and (max-width: 767px) {
    & {
      padding-top: 50px;
      padding-bottom: 50px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 24px;
    transition: .5s;

    &:hover {
      box-shadow: 2px 2px 10px rgba($brown, 1);
      cursor: pointer;
    }
  }

  @media screen and (max-width: 767px) {
    &__item {
      height: 100px;
    }
  }

  &__title {
    color: $brown;
    font-size: 30px;
    margin: 0;
    font-weight: 400;
    z-index: 5;
  }

  @media screen and (max-width: 767px) {
    &__title {
      font-size: 20px;
    }
  }

  &__text {
    color: $brown;
    font-size: 20px;
    margin: 0;
  }

  @media screen and (max-width: 767px) {
    &__text {
      font-size: 15px;
    }
  }

  &__svg {
    fill: $orange;
    position: absolute;
    bottom: 24px;
    right: 24px;
  }

  @media screen and (max-width: 767px) {
    &__svg {
      width: 50px;
    }
  }
}

.counter {
  text-align: center;
  background-color: #FBF8F8;
  padding-top: 200px;
  padding-bottom: 273px;
  position: relative;
  z-index: -2;

  @media screen and (max-width: 767px) {
    & {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  @media screen and (max-width: 650px) {
    & {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__title {
    color: $brown;
    font-weight: 700;
    font-size: 144px;
    margin-bottom: 2px;
  }

  @media screen and (max-width: 1023px) {
    &__title {
      font-size: 70px;
    }
  }

  @media screen and (max-width: 650px) {
    &__title {
      font-size: 50px;
    }
  }

  &__text {
    color: $dark;
    font-weight: 400;
    font-size: 80px;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.4;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (max-width: 1024px) {
    &__text {
      font-size: 40px;
    }
  }

  @media screen and (max-width: 650px) {
    &__text {
      font-size: 30px;
    }
  }

  &__img {
    position: absolute;
    right: 2%;
    top: 145px;
  }

  @media screen and (max-width: 1023px) {
    &__img {
      z-index: -1;
      width: 200px;
    }
  }

  @media screen and (max-width: 767px) {
    &__img {
      top: 30px;
    }
  }

  @media screen and (max-width: 650px) {
    &__img {
      display: none;
    }
  }
}

.app {
  background-color: $orange;
  color: $white;
  padding-top: 175px;
  padding-bottom: 115px;
  position: relative;

  @media screen and (max-width: 1023px) {
    & {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  @media screen and (max-width: 650px) {
    & {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  @media screen and (max-width: 1279px) {
    &::before {
      content: '';
      background-color: black;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__text {
    max-width: 600px;
    z-index: 5;
  }

  &__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.4;
    margin-bottom: 39px;
    margin-top: 126px;
  }

  @media screen and (max-width: 1023px) {
    &__title {
      font-size: 50px;
    }
  }

  @media screen and (max-width: 767px) {
    &__title {
      margin-top: 30px;
      font-size: 40px;
    }
  }

  @media screen and (max-width: 650px) {
    &__title {
      margin-top: 20px;
      font-size: 20px;
      max-width: 300px;
    }
  }

  &__image {
    position: relative;
  }

  &__rabbit {
    position: absolute;
    z-index: 1;
    max-width: 363px;
    bottom: 80px;
    left: -260px;
  }

  @media screen and (max-width: 767px) {
    &__rabbit {
      max-width: 200px;
      left: -150px;
      bottom: 40px;
    }
  }

  @media screen and (max-width: 650px) {
    &__rabbit {
      max-width: 130px;
      left: -120px;
      bottom: 40px;
    }
  }

  &__screen {
    position: relative;
    z-index: 1;
    max-width: 367px;
  }

  @media screen and (max-width: 767px) {
    &__screen {
      max-width: 200px;
    }
  }

  @media screen and (max-width: 650px) {
    &__screen {
      max-width: 130px;
    }
  }
}

.download {
  display: flex;
  align-items: center;
  gap: 28px;

  @media screen and (max-width: 650px) {
    &_place_app {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__link {
    background-repeat: no-repeat;
    width: 167px;
    height: 49px;
    display: block;
    background-position: center;
    background-size: cover;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }

    &_xs {
      width: 140px;
      height: 41px;
    }
  }

  @media screen and (max-width: 767px) {
    &__link {
      width: 85px;
      height: 25px;
    }
  }

  &__appstore {
    background-image: url(../images/app-store.svg);
  }

  &__googleplay {
    background-image: url(../images/google-play-badge.png);
  }
}

.footer {
  background-color: $brown;
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (max-width: 1024px) {
    & {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: 1023px) {
    &__box {
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
  }

  @media screen and (max-width: 650px) {
    &__box {
      gap: 20px;
    }
  }

  &__logo {
    background-image: url(../images/footer-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 340px;
    height: 90px;
    display: block;
  }

  @media screen and (max-width: 1023px) {
    &__logo {
      width: 200px;
      flex-shrink: 0;
      background-size: contain;
    }
  }

}