@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$brown: #59443F;
$light-brown: #C3B9B5;
$dark: #080606;
$white: #FFFFFF;
$orange: #FFC59E;

body {
  font-family: 'Open Sans', sans-serif;
}

.page {
  max-width: 1350px;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
  border: 1px solid red;

  &__content {
    padding-left: 20px;
    padding-right: 20px;
  }
  // @media screen and (max-width: 1279px) {
  //   .page {
  //     max-width: 1000px;
  // }
  // }
}

.section {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 85px 0 113px;
  box-sizing: border-box;

  &__logo {
    background-image: url(../images/logo-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 79px;
    height: 62px;
  }

  &__list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
  }

  &__item {
    margin-left: 35px;
    margin-right: 35px;
  }

  &__link {
    font-size: 20px;
    font-weight: 700;
    color: $light-brown;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;

    &:hover {
      color: $orange;
    }
  }

  &__bth {
    font-size: 20px;
    font-weight: 700;
    color: $orange;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 19px;
    cursor: pointer;

    &::before {
      content: '';
      background-image: url(../images/geo.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 29px;
      display: block;
    }
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-size: 80px;
    font-weight: 400;
    line-height: 1.4;
    color: $dark;
    margin-top: 0;
    margin-bottom: 71px;
  }

  &__link {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: $white;
    background-color: $orange;
    box-shadow: 0px 4px 20px $orange;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 76px;
    border-radius: 33.5px;
  }

  &__social {
    margin-top: 216px;
    display: flex;

  }
}

.social {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  gap: 50px;

  &__svg {
    fill: $light-brown;

    &_white {
      fill: $white;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  padding-top: 150px;
  padding-bottom: 157px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 24px;
  }

  &__title {
    color: $brown;
    font-size: 30px;
    margin: 0;
    font-weight: 400;
  }

  &__text {
    color: $brown;
    font-size: 20px;
    margin: 0;
  }

  &__svg {
    fill: $orange;
    position: absolute;
    bottom: 24px;
    right: 24px;
  }
}

.counter {
  text-align: center;
  background-color: #FBF8F8;
  padding-top: 200px;
  padding-bottom: 273px;
  position: relative;

  &__title {
    color: $brown;
    font-weight: 700;
    font-size: 144px;
    margin-bottom: 2px;
  }

  &__text {
    color: $dark;
    font-weight: 400;
    font-size: 80px;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.4;
  }

  &__img {
    position: absolute;
    right: 2%;
    top: 145px;
  }
}

.app {
  background-color: $orange;
  color: $white;
  padding-top: 175px;
  padding-bottom: 115px;

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    flex-basis: 600px;
  }

  &__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.4;
    margin-bottom: 39px;
    margin-top: 126px;
  }

  &__image {
    position: relative;
  }

  &__rabbit {
    position: absolute;
    z-index: 1;
    max-width: 363px;
    bottom: 80px;
    left: -260px;

  }

  &__screen {
    position: relative;
    z-index: 2;
    max-width: 367px;
  }
}

.download {
  display: flex;
  align-items: center;
  gap: 28px;

  &__link {
    background-repeat: no-repeat;
    width: 167px;
    height: 49px;
    display: block;
    background-position: center;
    background-size: cover;

    &_xs {
      width: 140px;
      height: 41px;
    }
  }

  &__appstore {
    background-image: url(../images/app-store.svg);
  }

  &__googleplay {
    background-image: url(../images/google-play-badge.png);
  }
}

.footer {
  background-color: $brown;
  padding-top: 80px;
  padding-bottom: 80px;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    background-image: url(../images/footer-logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 340px;
    height: 90px;
    display: block;
  }
}